body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif; /* Новый шрифт */
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(5px); /* Размытие */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px; /* Ширина окна входа */
    border-radius: 10px;
}

.overlay h1 {
    margin-bottom: 20px;
}

.overlay label {
    display: block;
    margin: 10px 0 5px;
}

.overlay input {
    width: calc(100% - 20px); /* Учитываем отступы */
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.overlay button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    margin-top: 10px; /* Отступ между кнопками */
}

.overlay button:hover {
    background-color: #2980b9;
}

#error-message {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0; /* Устанавливаем top в 0, чтобы элемент был вверху страницы */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.8); /* Полупрозрачный красный фон */
    color: white;
    display: flex;
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    font-size: 48px; /* Размер шрифта */
    text-align: center;
    z-index: 2; /* На переднем плане */
}

.success {
    color: green;
    font-size: 24px;
    margin-top: 20px;
}

.loader {
    width: 100%;
    height: 5px;
    background-color: #3498db;
    margin-top: 10px;
    animation: loading 5s linear forwards; /* Анимация загрузки */
}

@keyframes loading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.captcha-container {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.captcha-message {
    margin-top: 10px;
    font-size: 18px;
}
